* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 18px;
    font-family: "Fraunces", serif;
}

.nav-container {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;

}

.nav-options {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

.nav-options li a {
    text-decoration: none;
    color: white;
}

.btn-contact {
    background-color: white;
    padding: 10px;
    border-radius: 20px;

}

.btn-contact a {
    color: black !important;
    text-transform: uppercase;
    font-weight: bold;
}

/* Banner */

.banner-container {
    background-image: url("./images/desktop/image-header.jpg");
    height: 100vh;
    width: 100%;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-container div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.banner-container div h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 10px;
}

.banner-container div img {
    width: 3%;
    margin-bottom: 9rem;
}
@media only screen and (max-width: 600px){
    .banner-container{
        background-size: cover;
    }
    .banner-container div h1{
        text-align: center;
    }
    .banner-container div img {
        width: 10%;
    }
}

/* Card */
.card-container {
    display: flex;
    align-items: center;

}

.info {
    padding: 20px;
    display: flex;
    gap: 25px;
    flex-direction: column;
    width: 70%;
}

.info h2 {
    font-size: 3rem;
}

.info p {
    width: 80%;
    color: gray;
}

.info-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.info a {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
    text-decoration-thickness: 6px;
}

.yellow {
    text-decoration-color: #f8d501 !important;
}

.pink {
    text-decoration-color: pink !important;
}

@media only screen and (max-width: 600px)  {
    .card-container{
        flex-direction: column;
    }
    .info-container{
        order: 2;
    }
    .image-transform{
        order: 1;
    }
    .info{
        text-align: center;
    }
    .info p {
        width: 100%;
    }
    .info h2 {
        font-size: 2rem;
    }
}



.image-transform {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-transform img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.services-section {
    display: flex;
    justify-content: space-between;
    height: 70vh;

}

.service-card {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.service-card img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
}


.overlay h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    color: hsl(167, 40%, 24%);
}

.overlay p {
    font-size: 1em;
    margin-top: 10px;
    line-height: 1.5;
    color: hsl(198, 62%, 26%);
}
@media only screen and (max-width: 600px){
    .services-section{
        flex-direction: column;
        height: auto;
    }
    .overlay{
        width: 100%;
    }
}

.container-testimonies {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.container-testimonies h2 {
    color: hsl(232, 10%, 55%);
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 60px;
}

.group-testimonies {
    display: flex;
    width: 70%;
    margin: auto;

}

.testimonies {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.testimonies img {
    border-radius: 100%;
    width: 100px;

}

.footer-testimonies p {
    color: gray;
}
@media only screen and (max-width: 600px){
    .group-testimonies{
        flex-direction: column;
    }
   .container-testimonies{
    padding: 0;
   }
    
}

.img-container {
    display: flex;
}

.img-container img{
    width: 100%;
    height: 100%;
}
.footer-container{
    background-color:  hsl(168, 34%, 41%);
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 50px;
    padding: 5rem;
}
.nav-footer{
    display: flex;
    gap: 30px ;
    color: hsl(167, 40%, 24%);
    font-size: 24px;
}
.social-contain{
    display: flex;
    gap: 20px;
}